body {
  text-align: center;
  background: linear-gradient(to top, lightgray, lightblue)
}
.cell {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 1.1em;
  }

.shown{
  background: linear-gradient(to top, lightblue,lightgreen);
}
.mine{
  background-color: black;
}
.marked {
  background: linear-gradient(to top, gray, white);
}
button {
width: 100px;
height: 45px;
}

.board-container {
margin-block: 30px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

table{
  border-spacing: 3px;
}

.footer {
  position: static;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, green, white, darkred);
  bottom: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}