.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.5em;
  }

.shown{
    background-color: blue;
}
.mine{
  background-color: black;
}
.marked {
  background-color: yellowgreen;
}